body {
  background-color: #c9c9c9;
}
.title {
  font-family: 'Baloo 2', cursive;
  font-size: 75px;
}
.description {
  font-family: 'Baloo 2', cursive;
  font-size: 35;
}
.popular{
  font-family: 'Baloo 2', cursive;
  font-size: 55px;
}
.card-des {
  font-family: 'Baloo 2', cursive;
}
