body {
  background-color: #c9c9c9;
}
.title {
  font-family: 'Baloo 2', cursive;
  font-size: 75px;
}
.description {
  font-family: 'Baloo 2', cursive;
  font-size: 35;
}
.popular{
  font-family: 'Baloo 2', cursive;
  font-size: 55px;
}
.card-des {
  font-family: 'Baloo 2', cursive;
}
.interactive-image {
    height: 670px;
    transition: height 1s, filter 1s;
}

img.interactive-image:hover {
    height: 730px;
}
.row {
  padding-bottom: 40px;
  font-family: 'Baloo 2', cursive;
}
